<div class="cargando" title="Cargando..."><p>Por favor espere...</p></div>
<footer>
<div class="form-actions">
<div class="container" style="text-align:center">
  <p><%= Settings.site.copyright %></p>
</div>
</div>
</footer>
