<div class="navbar navbar-fluid-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" style="background-color:transparent;color:#000" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
        <a class="brand" style="background-color:transparent;color:#000" href="/"><%= image_tag 'logo.png', :width => 60, :height => 60 %></a>
        <a class="brand"  style="background-color:transparent;color:#000" href="/">B2B</a>
      <%= render 'shared/menu' %>
    </div>
  </div>
</div>
